@font-face {
    font-family: 'Parangon 530C';
    src: url('Parangon530C.eot');
    src: url('Parangon530C.eot?#iefix') format('embedded-opentype'),
        url('Parangon530C.woff2') format('woff2'),
        url('Parangon530C.woff') format('woff'),
        url('Parangon530C.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

